@import 'mixins';

img {
  max-width: 100%;

  &.card-img-top {
    height: 200px;
    object-fit: cover;
  }
}

h1, .h1 {
  font-size: 1.8rem;
}

h2, .h2 {
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid #00aaa1;
  padding-bottom: 0.1em;
  margin-bottom: 1.3rem !important;
}

h3, .h3 {
  font-size: 1.4rem;
}

h4, .h4 {
  font-size: 1.3rem;
}

h5, .h5 {
  font-size: 1.2rem;
}

h6, .h6 {
  font-size: 1.1rem;
}

p, .paragraph {
  font-size: 1rem !important;
  margin-bottom: 1.5rem !important;
}

.navbar-brand {
  img {
    max-width: 160px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.outer-link {
  position: relative;
  margin-left: 3px;
  font-size: 0.6rem;

  & i {
    position: absolute;
    top: -0.3rem;
  }
}

.sidebar {
  padding: 0 2rem;
}

// タグアイコン
.blog-tag {
  display: inline-block !important;
  padding: .3rem .5rem !important;
  margin: 0 2px 5px;
  border-radius: 1rem;
}

.side-tag {
  & > li {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }

  &__item {
    display: block !important;
    padding: .3rem .8rem !important;
    margin: 0 2px 5px;
    border-radius: 1rem;
  }
}

.widget-title {
  min-width: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
}

// 記事内の設定
.content {
  // 見出し
  & h1 {

  }

  // コードエリア
  & code {
    color: inherit !important;
  }
}


// 記事ページのprev, nextリンク
.prev-next {
  display: flex;
  align-items: center;
  flex-direction: row;

  @include mobile() {
    margin: 0 5px 10px;
  }

  &__area {
    margin-bottom: 40px;
  }

  &.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }

  &__prev {
    margin-left: 10px;
    padding: 10px 5px 10px 0;

    @include mobile() {
      padding: 5px 5px 5px 0;
    }
  }

  &__next {
    margin-left: 10px;
    padding: 10px 0px 10px 5px;

    @include mobile() {
      padding: 5px 5px 5px 0;
    }
  }

  &__prev--mark, &__next--mark {
    transform: scale(0.5, 1);
    font-size: 2rem;
    font-weight: 100;
  }

  a {
    color: #222;
  }
}
