
img {
  max-width: 100%;

  &.card-img-top {
    height: 200px;
    object-fit: cover;
  }
}

.navbar-brand {
  img {
    max-width: 220px;
  }
}

.section {
  padding-top: 50px;
}


// コードエリア
.content code {
 color: inherit !important;
}