@import 'mixins';

img {
  max-width: 100%;

  &.card-img-top {
    height: 200px;
    object-fit: cover;
  }
}

.navbar-brand {
  img {
    max-width: 220px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.outer-link {
  position: relative;
  margin-left: 3px;
  font-size: 0.6rem;

  & i {
    position: absolute;
    top: -0.3rem;
  }
}

// コードエリア
.content code {
  color: inherit !important;
}

// 記事ページのprev, nextリンク
.prev-next {
  display: flex;
  align-items: center;
  flex-direction: row;

  @include mobile() {
    margin: 0 5px 10px;
  }

  &__area {
    margin-bottom: 40px;
  }

  &.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }

  &__prev {
    margin-left: 10px;
    padding: 10px 5px 10px 0;

    @include mobile() {
      padding: 5px 5px 5px 0;
    }
  }

  &__next {
    margin-left: 10px;
    padding: 10px 0px 10px 5px;

    @include mobile() {
      padding: 5px 5px 5px 0;
    }
  }

  &__prev--mark, &__next--mark {
    transform: scale(0.5, 1);
    font-size: 2rem;
    font-weight: 100;
  }

  a {
    color: #222;
  }
}