<div class="col-md-6 mb-4">
    <article class="card">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="card-body px-0">
            {{/*}}
            {{ range .Params.Categories }}
            <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
               class="text-primary">{{ . | title | humanize }}</a>
            {{ end }}
            {{*/}}
            <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
            <div class="mb-3 post-meta">
                <a href="{{ .Permalink }}" class="text-body">
                    {{ if not .Params.HideDate }}
                    <i class="ti-calendar"></i><span> {{ .PublishDate.Format "2006-01-02" }}</span>
                    {{ end }}
                </a>
            </div>
            <a href="{{ .Permalink }}" class="h5 d-block my-3">
                <p class="card-text">{{ substr .Summary 0 100 }}...</p>
            </a>
            {{ range .Params.Tags }}
            <a href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}"
            class="blog-tag p-2 bg-primary text-white">{{ . | title | humanize }}</a>
            {{ end }}
        </div>
    </article>
</div>