{{ if .Parent }}
    {{/* まずは同じ階層のセクションとページから prev と next を決める */}}
    {{ $p := .Parent }}
    {{ $sections := $p.Sections }}
    {{ $pages := (cond $p.IsHome (where $.Site.RegularPages "Section" "") $p.Pages) }}
    {{ range (union $sections $pages) }}
        {{ if eq . $ }}
            {{ $.Scratch.Set "found" true }}
        {{ else }}
            {{ if $.Scratch.Get "found" }}
                {{ if not ($.Scratch.Get "next") }}
                {{/* Set "next" entry as just after the current page. */}}
                {{ $.Scratch.Set "next" . }}
                {{ end }}
            {{ else }}
                {{/* Update "prev" entry until the current page is found. */}}
                {{ $.Scratch.Set "prev" . }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{/* 見つかった prev と next のリンクを表示 */}}
    <div class="row prev-next__area">
        <div class="col-lg-6">
        {{- with ($.Scratch.Get "prev") -}}
            <div class="card prev-next">
                <span class="prev-next__prev--mark"><<</span>
                <span class="prev-next__prev">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </span>
            </div>
        {{- end -}}
        </div>
        <div class="col-lg-6">
        {{- with ($.Scratch.Get "next") -}}
            <div class="card prev-next">
                <span class="prev-next__next">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </span>
                <span class="prev-next__next--mark">>></span>
            </div>
        {{- end -}}
        </div>
    </div>
{{ end }}